.hero {
    background-color: $light-brown;
    font-family: $body-font-family-medium;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .hero-container {
        .hero-block {
            .hero-content {
                background-color: $transparent-beige;
                width: 100%;
                border-radius: $border-rounded;
                padding: 2rem;
            }
        }
    }

    img {
        max-width: 500px;
    }

    @media only screen and (min-width: $small) {
        min-height: 60vh;
        display: grid;
        align-items:center;

        .hero-container {

            .hero-block {
                .hero-content {
                    background-color: $transparent-hero;
                }
            }
        }
    }
}
