.jumbotron {
    border-bottom: 1px solid $transparent-green;
}

.jumbotron-mobile {
    display: block;
}

.jumbotron-desktop {
    display: none;
}

@media only screen and (min-width: $medium) {
    .jumbotron-mobile {
        display: none;
    }
    
    .jumbotron-desktop {
        display: block;
    }
}