.home {

    .home-conditions-grid {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        align-items: center;
    }

    @media only screen and (min-width: $small) {
        .home-conditions-grid {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
    }

    @media only screen and (min-width: $medium) {
        .home-conditions-grid {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto auto;

            div:nth-last-child(1) {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }

    @media only screen and (min-width: $large) {

        .home-conditions-grid {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: auto auto auto auto;

            div:nth-last-child(1) {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            div:nth-last-child(2) {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}
