.kids {
    .home-conditions-grid {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        align-items: center;
    }

    @media only screen and (min-width: $small) {
        .home-conditions-grid {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
    }

    @media only screen and (min-width: $medium) {
        .home-conditions-grid {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto auto;
        }
    }

    @media only screen and (min-width: $large) {
        .home-conditions-grid {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: auto auto auto auto;
        }
    }
}
