@import "../custom/variables.scss";

.error {
    h1 {
        font-size: $error-page-header-size-mobile;
        margin-bottom: 3rem;
    }

    h2 {
        margin-bottom: 3rem;
    }

    img {
        max-width:200px;
    }

    @media only screen and (min-width: $small) {
        padding-top: 4rem;
        h1 {
            font-size: $error-page-header-size;
        }
    }
}
