@import "../custom/variables.scss";

.contact {
    .contact-form {
        background-color: $transparent-white;
        padding: 5rem 8rem;
        width: 100%;
        margin: 2rem auto;
        border-radius: 50px;
        position: relative;
        z-index: 1;
    }

    .contact-info {
        position: relative;
        background-color: $green;
        color: $white;
        padding: 2rem;
        margin: 2rem auto;
        font-size: 1rem;
        z-index: 2;
        word-wrap: anywhere;
        border-radius: 50px;

        h2 {
            color: $white;
        }

        i,
        svg {
            font-size: $large-bullets;
            width: $large-bullets;
            line-height: 1;
            margin-right: 1rem;
        }

        p {
            margin: 2rem 0;
            display: flex;
            align-items: center;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }

        a {
            color: $white;
        }
    }
    @media only screen and (min-width: $large) {
        .contact-form {
            padding: 5rem 4rem 5rem 9rem;
            width: 100%;
            margin: 0 4rem 0 -4rem;
        }

        .contact-info {
            padding: 6rem 4rem;
            margin: 2rem -4rem 2rem 4rem;
        }
    }
}
