// Colors
$beige: #d3b17d;
$black: #121212bf;
$brown: #492a15bf;
$green: #6b9362;
// $green: #4A7441ee;
$grey: #5c5c5c;
$white: #fff;

// Darks
$dark: #151513 !important;
$dark-green: #3a5534;
$dark-beige: #bd9f71;

// Lights
$light-brown: #ece4db;
$light-green: #e8ebe2 !important;
$light-grey: #020101;

// Transparents
$transparent-hero: #e4d2c477;
$transparent-beige: #bd9f7133;
$transparent-black: #00000057;
$transparent-brown: #492a15bf;
$transparent-dots: #e4d2c457;
$transparent-green: #4b664557;
$transparent-grey: #b4c4b437;
$transparent-white: #f9f9f9dd;

// Breakpoints
$x-small: 0px; 
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;


// Fonts
$body-font-family: 'Montserrat', sans-serif;
$body-font-family-bold: 'Montserrat Bold', sans-serif;
$body-font-family-medium: 'Montserrat Medium', sans-serif;
$body-font-family-thin: 'Montserrat Thin', sans-serif;
$body-font-size: 1rem;
$body-font-size-mobile: 1rem;
$body-font-weight: 400;
$body-line-height: 28.8px;
$body-vertical-align: baseline;
$body-letter-spacing: 0.6px;

$font-size-small: .9rem;

$header-font-family: 'Addington';
$header-font-family-bold: 'Addington Bold';
$header-font-family-medium: 'Addington Medium';
$header-font-family-thing: 'Addington Thin';
$header-font-weight: 400;
$header-line-height: 1;
$header-margin-bottom: 1.5rem;

$link-weight: 700;

$nav-font-family: $header-font-family-bold;
$nav-font-size: 1.125rem;
$nav-font-size-dropdown: 1.125rem;

$footer-font-size: 15px;
$footer-font-weight: 500;
$footer-header-font-family: $header-font-family-bold;
$footer-icon-size: 2.5rem;

$error-page-header-size: 3rem;
$error-page-header-size-mobile: 2rem;

$label-font-weight: 600;

// Buttons
$button-font-family: $header-font-family-medium;
$button-font-weight: 700;
$button-padding: 10px;

// Backgrounds
$background-center: center center;
$background-cover: cover;
$background-overlay: overlay;
$background-top-right: top right;

// Borders
$border-rounded: 20px;
$border-rounded-button: 10px;
$border-rounded-input: 5px;
$border-round: 50%;

//blog
$blog-title: 1.5rem;

//custom bullets 
$small-bullets: 1rem;
$medium-bullets: 1.25rem;
$large-bullets: 1.75rem;