.breadcrumbs {
    padding: 2rem 0 1rem;
    border-bottom: 0;
    font-size: $font-size-small;
    color: $black;
    .breadcrumb-item {
        a {
            color: $green;
            &:hover {
                color: $dark-green;
            }
        }
    }
}
