.fas,
.far,
.fab,
.svg-inline--fa {
    margin-right: 1rem;
}

.fa-dot-circle {
    margin: 0;
    padding-bottom: 13px;
}

.fa-mortar-pestle {
    margin-right: 1rem;
}

.fa-ul {
    list-style-type: none;
    margin-bottom: 3rem;
    .fa-li {
        width: 1rem;
    }
}

.fa-envira {
    color: $green !important;
    width: $small-bullets;
    min-width: $small-bullets;
}

.fa-mortar-pestle {
    color: $beige !important;
    width: $large-bullets;
    min-width: $large-bullets;
}
@media only screen and (min-width: $small) {
    .fa-dot-circle {
        margin: 0;
        padding-bottom: 7px;
    }
    
}