.hero {
    display: grid;
    align-items: center;
    min-height: 500px;

    .hero-container {
        position: relative;
        .hero-block {
            padding: 1rem;
            .hero-content {
                background-color: $transparent-hero;
                border-radius: $border-rounded;
                padding: 2rem 1rem;
                width: 100%;
                max-width: 500px;
                h1 {
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media only screen and (min-width: $small) {
        min-height: 550px;

        .hero-container {
            .hero-block {
                .hero-content {
                    width: 500px;
                    max-width: unset;
                    margin-left: 4rem;
                    margin-bottom: 0;
                    padding: 2rem;

                    .btn {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: $medium) {
        min-height: 600px;
    }

    @media only screen and (min-width: $large) {
        min-height: 700px;

        .hero-container {
            .hero-block {
                .hero-content {
                    width: 700px;
                    margin-left: 10rem;
                    padding: 2rem;
                }
            }
        }
    }

    @media only screen and (min-width: $x-large) {
        min-height: 800px;
    }
}

.kids {
    .hero {
        .hero-container {
            position: relative;
            .hero-block {
                padding: 1rem;
                .hero-content {
                    background-color: $transparent-blue;
                    border-radius: $border-rounded;
                    color: $white;
                    padding: 2rem 1rem;
                    width: 100%;
                    max-width: 500px;
                    h1 {
                        margin-bottom: 1rem;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media only screen and (min-width: $small) {
            .hero-container {
                .hero-block {
                    .hero-content {
                        width: 500px;
                        max-width: unset;
                        margin-left: 4rem;
                        margin-bottom: 0;
                        padding: 2rem;

                        .btn {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: $large) {
            .hero-container {
                .hero-block {
                    .hero-content {
                        width: 800px;
                        margin-left: 10rem;
                        padding: 2rem;
                    }
                }
            }
        }
    }
}