@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
 
    p {
        max-width: 990px;
        margin-bottom: 2rem;
    }

    .image-gallery {
        margin: 2rem -1rem 4rem;
    }
}
