form {
    margin: 0 auto;

    fieldset {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;

        div {
            flex-grow: 1;
        }
    }

    label {
        font-weight: $label-font-weight;
        display: block;
        margin-right: 1rem;
    }

    input:not([type="submit"]),
    textarea {
        cursor: text;
        margin: 0;
        border-width: 1px;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        background-color: $white;
        padding: 8px 1rem;
        border-radius: $border-rounded-input;
    }

    input[type="email"],
    input[type="text"],
    input[type="tel"] {
        width: 100%;
    }
    textarea {
        width: 100%;
    }

    input[type="number"] {
        width: 120px;
    }

    input[type="date"] {
        width: 220px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin: .6rem 0.5rem .4rem .4rem;
    }

    select {
        background-color: $white;
        margin: 1rem 0;
        width: 100%;
        max-width: 320px;
        padding: 0.8rem 1rem;
        border-radius: $border-rounded-input;
    }

    button,
    input[type="submit"] {
        padding: $button-padding;
        border-radius: $border-rounded-button;
        font-family: $button-font-family;
        letter-spacing: 1px;
        font-weight: $button-font-weight;
        min-width: 150px;
        color: $white;
        background-color: $green;
        border: 0;

        &:hover,
        &:focus,
        &:active {
            background-color: $dark-green;
            box-shadow: none;
        }
    }

    .required {
        color: #ed0000;
    }
}