/* Background Colors */

body {
    background-color: $white;
}

.bg-brown {
    background-color: $light-brown;
}

.bg-jj-green,
.bg-green {
    background-color: $green;
}

.bg-light-green {
    background-color: $light-green;
}

.bg-dark {
    background-color: $dark;
}

.bg-white-transparent {
    background-color: $transparent-white;
}

/* Background Images */

.bg-aromatherapy {
    background-image: url('/images/backgrounds/mobile/aromatherapy.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-baked-salmon {
    background-image: url('/images/backgrounds/mobile/baked-salmon.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-cook {
    background-image: url('/images/backgrounds/mobile/cook.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-eat {
    background-image: url('/images/backgrounds/mobile/eat.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-fern {
    background-image: url('/images/backgrounds/mobile/fern.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-green-herbs {
    background-image: url('/images/backgrounds/mobile/green-herbs.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-hazelwood {
    background-image: url('/images/backgrounds/mobile/hazelwood.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-1 {
    background-image: url('/images/backgrounds/mobile/herbs-1.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-2 {
    background-image: url('/images/backgrounds/mobile/herbs-2.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-3 {
    background-image: url('/images/backgrounds/mobile/herbs-3.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-4 {
    background-image: url('/images/backgrounds/mobile/herbs-4.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-5 {
    background-image: url('/images/backgrounds/mobile/herbs-5.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-6 {
    background-image: url('/images/backgrounds/mobile/herbs-6.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-herbs-table {
    background-image: url('/images/backgrounds/mobile/herbs-table.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-ivy-1 {
    background-image: url('/images/backgrounds/mobile/ivy-1.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-blend-mode: $background-overlay;
    background-color: $transparent-black;
    color: $white;
}

.bg-ivy-2 {
    background-image: url('/images/backgrounds/mobile/ivy-2.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-blend-mode: $background-overlay;
    background-color: $transparent-black;
    color: $white;
}

body {
    background-image: url('/images/backgrounds/mobile/jj.webp');
    background-position: $background-center;
    background-repeat: no-repeat;
    background-size: $background-cover;
    background-attachment: fixed;
}

.bg-sage {
    background-image: url('/images/backgrounds/mobile/sage.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-salad {
    background-image: url('/images/backgrounds/mobile/salad.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-salmon-1 {
    background-image: url('/images/backgrounds/mobile/salmon-1.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-salmon-2 {
    background-image: url('/images/backgrounds/mobile/salmon-2.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-spaghetti {
    background-image: url('/images/backgrounds/mobile/spaghetti.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-spices-1 {
    background-image: url('/images/backgrounds/mobile/spices-1.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-spices-2 {
    background-image: url('/images/backgrounds/mobile/spices-2.webp');
    background-position: $background-center;
    background-size: $background-cover;
    color: $white;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
}

.bg-spices-3 {
    background-image: url('/images/backgrounds/mobile/spices-3.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-spices-4 {
    background-image: url('/images/backgrounds/mobile/spices-4.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-spices-5 {
    background-image: url('/images/backgrounds/mobile/spices-5.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-tomato {
    background-image: url('/images/backgrounds/mobile/tomato.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-vegetables-1 {
    background-image: url('/images/backgrounds/mobile/vegetables-1.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-vegetables-2 {
    background-image: url('/images/backgrounds/mobile/vegetables-2.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-vegetables-3 {
    background-image: url('/images/backgrounds/mobile/vegetables-3.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-vegetables-4 {
    background-image: url('/images/backgrounds/mobile/vegetables-4.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.bg-vitamin-c {
    background-image: url('/images/backgrounds/mobile/vitamin-c.webp');
    background-position: $background-center;
    background-size: $background-cover;
    background-color: $transparent-black;
    background-blend-mode: $background-overlay;
    color: $white;
}

.hero-beans {
    background-image: url('/images/backgrounds/mobile/hero-beans.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-carrots-1 {
    background-image: url('/images/backgrounds/mobile/hero-carrots-1.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-carrots-2 {
    background-image: url('/images/backgrounds/mobile/hero-carrots-2.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-coffee {
    background-image: url('/images/backgrounds/mobile/hero-coffee.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-eggs-1 {
    background-image: url('/images/backgrounds/mobile/hero-eggs-1.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-eggs-2 {
    background-image: url('/images/backgrounds/mobile/hero-eggs-2.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-fruit {
    background-image: url('/images/backgrounds/mobile/hero-fruit.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-herbs-1 {
    background-image: url('/images/backgrounds/mobile/hero-herbs-1.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-herbs-2 {
    background-image: url('/images/backgrounds/mobile/hero-herbs-2.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-herbs-3 {
    background-image: url('/images/backgrounds/mobile/hero-herbs-3.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-herbs-4 {
    background-image: url('/images/backgrounds/mobile/hero-herbs-4.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-lemons {
    background-image: url('/images/backgrounds/mobile/hero-lemons.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-limes {
    background-image: url('/images/backgrounds/mobile/hero-lime.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-spices {
    background-image: url('/images/backgrounds/mobile/hero-spices.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-tomatoes {
    background-image: url('/images/backgrounds/mobile/hero-tomatoes.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-vegetables-1 {
    background-image: url('/images/backgrounds/mobile/hero-vegetables-1.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-vegetables-2 {
    background-image: url('/images/backgrounds/mobile/hero-vegetables-2.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-vegetables-3 {
    background-image: url('/images/backgrounds/mobile/hero-vegetables-3.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.hero-vegetables-4 {
    background-image: url('/images/backgrounds/mobile/hero-vegetables-4.webp');
    background-position: $background-top-right;
    background-size: $background-cover;
}

.thanksgiving {
    background-image: url('/images/backgrounds/desktop/autumn.webp');
    background-position: $background-center;
    background-size: $background-cover;
    padding: 2rem;
    border-radius: 50px;
}

@media only screen and (min-width: $medium) {
    /* Background Images */
    .bg-aromatherapy {
        background-image: url('/images/backgrounds/desktop/aromatherapy.webp');
    }

    .bg-baked-salmon {
        background-image: url('/images/backgrounds/desktop/baked-salmon.webp');
    }

    .bg-cook {
        background-image: url('/images/backgrounds/desktop/cook.webp');
    }

    .bg-eat {
        background-image: url('/images/backgrounds/desktop/eat.webp');
    }

    .bg-fern {
        background-image: url('/images/backgrounds/desktop/fern.webp');
    }

    .bg-green-herbs {
        background-image: url('/images/backgrounds/desktop/green-herbs.webp');
    }

    .bg-hazelwood {
        background-image: url('/images/backgrounds/desktop/hazelwood.webp');
    }

    .bg-herbs-1 {
        background-image: url('/images/backgrounds/desktop/herbs-1.webp');
    }

    .bg-herbs-2 {
        background-image: url('/images/backgrounds/desktop/herbs-2.webp');
    }
    .bg-herbs-3 {
        background-image: url('/images/backgrounds/desktop/herbs-3.webp');
    }

    .bg-herbs-4 {
        background-image: url('/images/backgrounds/desktop/herbs-4.webp');
    }

    .bg-herbs-5 {
        background-image: url('/images/backgrounds/desktop/herbs-5.webp');
    }

    .bg-herbs-6 {
        background-image: url('/images/backgrounds/desktop/herbs-6.webp');
    }

    .bg-herbs-table {
        background-image: url('/images/backgrounds/desktop/herbs-table.webp');
    }

    .bg-ivy-1 {
        background-image: url('/images/backgrounds/desktop/ivy-1.webp');
    }

    .bg-ivy-2 {
        background-image: url('/images/backgrounds/desktop/ivy-2.webp');
    }

    body {
        background-image: url('/images/backgrounds/desktop/jj.webp');
    }

    .bg-sage {
        background-image: url('/images/backgrounds/desktop/sage.webp');
    }

    .bg-salad {
        background-image: url('/images/backgrounds/desktop/salad.webp');
    }

    .bg-salmon-1 {
        background-image: url('/images/backgrounds/desktop/salmon-1.webp');
    }

    .bg-salmon-2 {
        background-image: url('/images/backgrounds/desktop/salmon-2.webp');
    }

    .bg-spaghetti {
        background-image: url('/images/backgrounds/desktop/spaghetti.webp');
    }

    .bg-spices-1 {
        background-image: url('/images/backgrounds/desktop/spices-1.webp');
    }

    .bg-spices-2 {
        background-image: url('/images/backgrounds/desktop/spices-2.webp');
    }

    .bg-spices-3 {
        background-image: url('/images/backgrounds/desktop/spices-3.webp');
    }

    .bg-spices-4 {
        background-image: url('/images/backgrounds/desktop/spices-4.webp');
    }

    .bg-spices-5 {
        background-image: url('/images/backgrounds/desktop/spices-5.webp');
    }

    .bg-tomato {
        background-image: url('/images/backgrounds/desktop/tomato.webp');
    }

    .bg-vegetables-1 {
        background-image: url('/images/backgrounds/desktop/vegetables-1.webp');
    }

    .bg-vegetables-2 {
        background-image: url('/images/backgrounds/desktop/vegetables-2.webp');
    }

    .bg-vegetables-3 {
        background-image: url('/images/backgrounds/desktop/vegetables-3.webp');
    }

    .bg-vegetables-4 {
        background-image: url('/images/backgrounds/desktop/vegetables-4.webp');
    }

    .bg-vitamin-c {
        background-image: url('/images/backgrounds/desktop/vitamin-c.webp');
    }

    .hero-beans {
        background-image: url('/images/backgrounds/desktop/hero-beans.webp');
    }

    .hero-carrots-1 {
        background-image: url('/images/backgrounds/desktop/hero-carrots-1.webp');
    }

    .hero-carrots-2 {
        background-image: url('/images/backgrounds/desktop/hero-carrots-2.webp');
    }

    .hero-coffee {
        background-image: url('/images/backgrounds/desktop/hero-coffee.webp');
    }

    .hero-eggs-1 {
        background-image: url('/images/backgrounds/desktop/hero-eggs-1.webp');
    }

    .hero-eggs-2 {
        background-image: url('/images/backgrounds/desktop/hero-eggs-2.webp');
    }

    .hero-fruit {
        background-image: url('/images/backgrounds/desktop/hero-fruit.webp');
    }

    .hero-herbs-1 {
        background-image: url('/images/backgrounds/desktop/hero-herbs-1.webp');
        padding-top:2rem;
    }

    .hero-herbs-2 {
        background-image: url('/images/backgrounds/desktop/hero-herbs-2.webp');
    }

    .hero-herbs-3 {
        background-image: url('/images/backgrounds/desktop/hero-herbs-3.webp');
    }

    .hero-herbs-4 {
        background-image: url('/images/backgrounds/desktop/hero-herbs-4.webp');
    }

    .hero-lemons {
        background-image: url('/images/backgrounds/desktop/hero-lemons.webp');
    }

    .hero-limes {
        background-image: url('/images/backgrounds/desktop/hero-lime.webp');
    }

    .hero-spices {
        background-image: url('/images/backgrounds/desktop/hero-spices.webp');
    }

    .hero-tomatoes {
        background-image: url('/images/backgrounds/desktop/hero-tomatoes.webp');
    }

    .hero-vegetables-1 {
        background-image: url('/images/backgrounds/desktop/hero-vegetables-1.webp');
    }

    .hero-vegetables-2 {
        background-image: url('/images/backgrounds/desktop/hero-vegetables-2.webp');
    }

    .hero-vegetables-3 {
        background-image: url('/images/backgrounds/desktop/hero-vegetables-3.webp');
    }

    .hero-vegetables-4 {
        background-image: url('/images/backgrounds/desktop/hero-vegetables-4.webp');
    }
}