.card {
    border: 0;
    margin: .75rem 0;
    border-radius: $border-rounded;

    .card-body {
        position: relative;
        display: block;
        flex: none;
        padding: 0;
        background-color: $black;
        border-radius: $border-rounded;

        .card-img,
        .card-image {
            position: relative;
            z-index: 1;
            opacity: 0.50;
            border-radius: $border-rounded;

            img {
                width: 100%;
                border-radius: $border-rounded;
            }
        }

        .card-content {
            position: absolute;
            z-index: 2;
            top: 50%;
            width: 100%;
            padding: 0 1rem;
            transform: translateY(-50%);
            text-align: center;
            font-size: $body-font-size-mobile;

            .card-title {
                font-family: $header-font-family-medium;
                font-size: 2rem;
                color: $beige;
            }
            .card-text {
                font-weight: 500;
                color: $white;
                line-height: 1.2;
            }
        }
    }
}

@media only screen and (min-width: $medium) {
    .card {
        .card-body {
            .card-content {
                font-size: $body-font-size;
            }
        }
    }
}
